.accaunt-container{
    min-height: 100vh;
    background-color: #f1f1f1;
}
.ps-form--account{
    max-width: 430px;
    margin: 0 auto!important;
    padding-top: 100px;
}
.ant-form{
    box-sizing: border-box;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
}
